.root {
  margin: 2rem 0;
  padding: 0;

  @nest & img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 0px 5px grey);
  }
}

.caption {
  composes: small from '../typography.module.css';
  margin-top: 0.5rem;
}
